
body {
    width: 100%;
    height: 100vh;
    background-color: bisque;
}
.container {
    width: 100%;
    height: 100%;
}


 .card {
        max-width: 20rem;
        margin: 0 auto;
        border: none;
        max-height: 30rem;
}


